<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Document</title>
</head>

<body>
  <div class="sepereate">
    <h3>{{auth.name}}</h3>
    ID: {{auth.id}} <br>
    Description: {{auth.notes}} <br>
    Books: <br>
    <ul>
      {% for a in books %}
      <li>{{a.title}}</li>
        {% endfor  %}
      
    </ul>
  <form action='/bookadd' method='post'>
    {% csrf_token %}   
        <select name='book'>
            {% for p in book %}
            <option> {{p.title}} </option>
            {% endfor  %}
        </select>
        <button type='submit'>add</button>
    </div>
</form>
</body>

</html>